*.o
_FOSSIL_


.libs/
.target_source
a.out
autom4te.cache/
config.h
config.log
config.status
keywordhash.h
lemon
lempar.c
libsqlite3.la
libtool
mkkeywordhash
opcodes.c
opcodes.h
parse.c
parse.h
parse.h.temp
parse.out
parse.y
shell.c
sqlite3
sqlite3.c
sqlite3.h
sqlite3.lo
sqlite3.pc
sqlite3ext.h
test.db
test.db/
tsrc/

